<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title>Node Authentication</title>
        <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
        />
        <style>
            body {
                padding-top: 80px;
                word-wrap: break-word;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/api/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>
                        Login success
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <form
                            action="/api/product"
                            method="POST"
                            enctype="multipart/form-data"
                        >
                            <div class="form-group">
                                <input
                                    type="file"
                                    class="form-control"
                                    name="images"
                                    required
                                    id=""
                                />
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id=""
                                />
                                <input
                                    type="text"
                                    class="form-control"
                                    name="desc"
                                    id=""
                                />
                                <input
                                    type="text"
                                    class="form-control"
                                    name="stock"
                                    id=""
                                />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-danger">
                                    Upload File
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
